body {
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}
h1,h2,h3,h4,h5,h6,p {
    font-family: "helvetica";
    font-weight: 300;
    margin: 5%;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../images/glyphicons-halflings-regular.svg') format('svg');

    }
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-arrow-left:before {
    content: "\e091";
}
table {
    width: 50%;
    border-collapse: collapse;
}

.table1{
    width: 99%;
    border-collapse: collapse;
    background: black;
    color: white;
}
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: black;
}
.reinput{
    margin: auto;
    font-size: 140%;
    height: 20%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    padding-right: 0px;
    padding-left: 12%;
    width: 100%;
}
.img1{
    width: 20px;
    float: ;
}
.img2{
    width: 20px;
    float: right;
}
.center {
    width: 25%; /* Ширина элемента в пикселах */
    padding: 1%; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    margin-top: 10%;
}
.centered{
    text-align: center;
}
.images{
    width: 100%;
    margin-top: 70px;
    margin: auto;
    padding: 15%;
    padding-bottom: 30%;
}
.abtn{
    margin: auto;
    padding: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border: 0px;
    background: url(../images/arrowWhite.svg) no-repeat center  ;
    background-color: black;

}
.p1{

    text-align: center;
    margin-top: 20%;
    padding: 2%;
}
.p2{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
}
.col-md-4{margin: auto;}
.col-lg-4{margin: auto;}
.col-xs-10{margin: auto;}
.col-sm-6{margin: auto;}

.text-table{
    padding-left: 30px;
}
.images-table{
    width: 15px;
}
.div1{display: inline;}
.images1 {
    width: 1%;
    margin: auto;
    padding: 0%;
    padding-bottom: 0%;
}
.head{
    margin: auto;
    padding: 25px;
    background-color: #f2f2f2;
}
.footer1{
    margin: auto;
    padding: 2px;

}